* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;

}
body{
    color: black;
    overflow-x: hidden;
    background-color: #ffffff;
    max-width: 100%;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}
/*--------------------phần top header-------------------*/
.top-header{
    background-color: #020202;
    width: 100%;
    height: 50px;
    color: white;
}
.left-topheader{
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    font-style: normal;
}
.left-topheader p {
    padding-top:15px;
    width: 100%;
    height: 50%;
    font-family: 'Xanh Mono', monospace;
    font-size: 13px;
}
.right-topheader{
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    font-style: normal;
}
.div-loginheader,.div-cartheader,.div-logoheader{
    float: left;
}
.div-loginheader{
    margin-left: 50px;
    width: 140px;
    height: 100%;
    border-right: 1px solid #999999;
}
.div-loginheader p {
    font-size: 13px;
    padding-top:15px;
}
.div-cartheader{
    /*margin-left: 5px;*/
    width: 100px;
    height: 100%;
    border-right: 1px solid #999999;
}
.div-cartheader p{
    font-size: 13px;
    /*padding-top:15px;*/
    font-family: 'Xanh Mono', monospace;
}
.div-logoheader{
    width: 270px;
    height: 100%;
}
.div-logoheader i{
    font-size: 13px;
    padding-top:20px;
}

/*   menu account   */
.nav-account1 button{
    margin-top: 1px;
    font-family: 'Xanh Mono', monospace;
    font-size: 14px;
    width: 100px;
    height: 49px;
    background: unset !important;
    border: unset !important;
    outline: unset !important;
    color: white;
}
.nav-account1 button:hover{
    color: #5bbb46;
}
#menu-child-account{
    transition: 1s;
    display: none;
    position: absolute;
    background-color: white;
    top: 50px;
    right: 485px;
    height: 120px;
    width: 240px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
#menu-child-account a{
    text-decoration: none;
}
#menu-child-account li{
    position: relative;
}
.child-account1{
    background-color: white;
    width:240px;
    height: 40px;
    border: 1px solid #999999;
}
.child-account1:hover{
    background-color: #5bbb46;
    cursor: pointer;
}
.child-account1 a{
    color: black;
    position: relative;
    top: 9px;
    /*width: 100px;*/
    /*height: 40px;*/
    text-align: center;
}
.child-account2{
    width:240px;
    height: 40px;
    border: 1px solid #999999;
}
.child-account2:hover{
    background-color: #5bbb46;
    cursor: pointer;
}
.child-account2 a{
    color: black;
    position: relative;
    top: 8px;
    /*width: 100px;*/
    /*height: 40px;*/
    text-align: center;
}
.menu2-child-account{
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: black;
    width: 240px;
    height: 40px;
}
.child-account3{
    margin-top: 4px;
    margin-left: 20px;
    width:100px;
    height: 30px;
    font-size: 12px;
    padding-top: 7px;
}
.child-account3 a{
    color: white;
}
.child-account4{
    padding-top: 4px;
    cursor: pointer;
    margin-top: 5px;
    color: white;
    width:100px;
    height: 30px;
    border: 1px solid white;
    border-radius: 20px;
}
.child-account4:hover{
    background-color: #5bbb46;
}
.child-account4 a{
    color: white;
}

.child-account3,.child-account4{
    float: left;
}
/*close menu account */

/*    menu cart    */
.nav-cart1 button{
    font-family: 'Xanh Mono', monospace;
    font-size: 14px;
    margin-top: 1px;
    width: 100px;
    height: 49px;
    background: unset !important;
    border: unset !important;
    outline: unset !important;
    color: white;
}
.nav-cart1 button:hover{
    color: #5bbb46;
}
#menu-child-cart{
    transition: 1s;
    display: none;
    position: absolute;
    background-color: white;
    top: 50px;
    right: 384px;
    width: 200px;
    height: auto;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
#menu-child-cart li{
    position: relative;
}
#menu-child-cart a{
    text-decoration: none;
}
.child-cart1{
    height: 50px;
    width: 200px;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
    border-top: 0;
}
.row1-cart1 ,.row2-cart1{
    float: left;
}
.row1-cart1{
    left: 5px;
    top: 5px;
    border: 1px solid #8f8686;
    position: relative;
    height: 40px;
    width: 40px;
}
.row1-cart1 img {
    width: 100%;
}
.row2-cart1{
    padding-top: 4px;
    position: relative;
    width: 150px;
    height: 50px;
}
.row2-cart1 p{
    color: black;
    margin-top: 10px;
    width: 150px;
    font-size: 14px;
    margin-left: 4px;
}
.row1-cart2{
    left: 5px;
    top: 5px;
    border: 1px solid #8f8686;
    position: relative;
    height: 40px;
    width: 40px;
}
.row1-cart2 img {
    width: 100%;
}
.row2-cart1 ,.row2-cart2{
    float: left;
}
.row2-cart2{
    position: relative;
    width: 150px;
    height: 50px;
}
.row2-cart2 p{
    padding-top: 4px;
    color: black;
    margin-top: 10px;
    width: 150px;
    font-size: 14px;
    margin-left: 4px;
}
.row1-cart2 ,.row2-cart2 {
    float: left;
}
.child-cart2{
    height: 50px;
    width: 200px;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
    border-top: 0;
}
.child-cart3{
    height: 40px;
    width: 200px;
    background-color: black;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.child-cart3 a{
    color: white;
}
.child-cart3 div{
    position: relative;
    width: 120px;
    height: 30px;
    top: 5px;
    left: 40px;
    padding-top: 5px;
    border-radius: 20px;
    border: 1px solid white;
}
.child-cart3 div:hover{
    background-color: #5bbb46;
}
/*   close menu cart */
/*    menu favorite    */
.btn-favorite{
    cursor: pointer;
    background: unset ;
    border: unset !important;
    outline: unset !important;
    font-family: 'Xanh Mono', monospace;
    font-size: 15px;
}
.btn-favorite:hover{
    color: #24d200;
}
#menu-child-favorite{
    border-top: 1px solid #999999;
    transition: 1s;
    display: none;
    position: absolute;
    background-color: white;
    top: 140px;
    left: 480px;
    height: auto;
    width: 200px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.child-favorite1{
    position: relative;
    height: 50px;
    width: 200px;
}
/*I phần all header*/
.header{
    padding-top: 25px;
    width: 100%;
    height: 150px;
    background: url("https://tse4.mm.bing.net/th?id=OIP._QHXaCCXKOEItfkbtGAzeQHaE9&pid=Api&P=0&w=245&h=164") no-repeat;
    background-size: 100%;
}
.sub-header{
    margin-right: 10%;
    float: right;
    width: 80%;
    height: 100px;
}
.ul-subheader a{
    color: black;
    text-decoration: none;
}
.ul-subheader li{
    text-align: center;
    font-family: 'Xanh Mono', monospace;
}
#li-header1,#li-header2,#li-header3,#li-header3-1,#li-header4-img{
    float: left;
}
#li-header7-i,#li-header5,#li-header5-1,#li-header6{
    float: left;
}
#li-header1,#li-header2,#li-header3,#li-header3-1,#li-header5,#li-header5-1{
    padding-top: 39px;
    width: 104px;
    height: 100px;
}
#li-header1 a:hover ,#li-header2 a:hover,#li-header3 a:hover ,#li-header3-1 a:hover ,#li-header5 a:hover ,#li-header5-1 a:hover ,#li-header6 a:hover {
    color: #06c706;
}
#li-header6{
    padding-top: 39px;
    width: 110px;
    height: 100px;
}
#li-header7-i {
    margin-left: 20px;
    margin-top: 35px;
    padding-top: 5px;
    width: 30px;
    height: 30px;
}
#li-header7-i:hover {
    background-color: lime;
    width: 30px;
    height: 30px;
    border-radius: 40px;
}
#li-header4-img{
    width: 247px;
    height: 100%;
}
#li-header4-img img{
    width:90%;
    padding-top: 5px;
}

/*----------------------------------Body------------------------------*/


/*Sản Phẩm mới      Phần sản phẩm đề cử        */
.subheader {
    height: 500px;
    width: 100%;
}
/* ------------------------------------*/
.mid-subheader-central{
    border-bottom-right-radius: 10px;
    width: 100%;
    border: blue;
    background-color: rgb(189, 187, 187);
    height: 100%;
    text-align: center;
}
/*----silder-----*/

@-webkit-keyframes slide_animation {
    0% {left:0;}
    10% {left:0;}
    20% {left:1365px;}       /*1200px*/
    30% {left:1365px;}       /*1200px*/
    40% {left:2730px;}       /*2400px*/
    50% {left:2730px;}       /*2400px*/
    60% {left:1365px;}       /*1200px*/
    70% {left:1365px;}       /*1200px*/
    80% {left:0;}
    90% {left:0;}
    100% {left:0;}
}

.slider-images{
    background-color: red;
    width: 4095px;       /*3600px*/
    height: 500px; /*800px*/
    margin:  0 0 0 -2730px;/* chỉnh vị trí lăp*/ /*-2400px*/
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 32s;     /*33s*/
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}
.silder-frame{
    border-bottom-right-radius: 10px;
    margin-left: 1px;
    border: 1px solid #999999;
    overflow: hidden;
    height: 500px; /*800px*/
    width: 1365px;  /*1200px*/
}
.img-containter{
    text-align: center;
    height: 500px; /*800px*/
    width: 1365px;  /*1200px*/
    position: relative;
    float: left;
}
img{
    width: 100%;
}
/*-------------------------------- form product - fruit - nuts - vegess----------------------------------*/

.sec1,.sec2,.sec3 {
    width: 100%;
    height:900px;
}
.sec1{
    margin-top: 260px;
}
.sec2,.sec3{
    margin-top: 200px;
}
.mid-sec1{
    height: 100%;
    margin-left: 2.5%;
    width: 95%;
}
#ul-mid-sec1 ,#ul-mid-sec2,#ul-mid-sec3,#ul-mid-sec4,#ul-mid-sec5{
    width: 100%;
    height: 15%;
}#sec1-li1,#sec1-li2,#sec1-li3,#sec1-li4,#sec1-li5{
    height: 100%;
    width: 500px;
    color: black;
     text-align: center;
 }
.ul-p1,.ul-p2,.ul-p3,.ul-p4,.ul-p5,.ul-p6{
    /*float: left;*/
    font: 400 10px/28px "Roboto Slab";
    /*height: 30px;*/
    cursor: pointer;
    /*margin-top: 20px;*/
    /*margin-left: 40px;*/
}
/*.ul-p1:active,.ul-p2:active,.ul-p3:active,.ul-p4:active,.ul-p5:active{*/
/*    color: lime;*/
/*}*/

/*--------------------- next form --------------------------*/
.loginform
{
    z-index: 1;
    background-color: white;
}
.loginform, .registerform ,.vegessform,.dryfoodform,.cannedfoodform{
    height: 770px;
    width: 1277px;
    position: absolute;
    left: 36px;
    top: 962px;
    border: none;
}
.registerform-active,.loginform-active,.vegessform-active,.dryfoodform-active,.cannedfoodform-active {
    z-index: 2;
    background-color: #ffffff;
}
.mid-sec2-body,.mid-sec3-body,.mid-sec4-body,.mid-sec5-body{
     display: none;
 }
.ip1{
    color: #2efc00;
}
/*------------------------------------------------------------------------------*/
#sec1-li1 h1,#sec1-li2 h1,#sec1-li3 h1,#sec1-li4 h1,#sec1-li5 h1{
    margin-top: 10px;
    font: 400 36px/40px "Roboto Slab";
}
#sec1-li1,#sec1-li2,#sec1-li3,#sec1-li4,#sec1-li5 {
    margin-left: 338px;
    padding-top: 10px;
    width: 600px;
    height: 120px;
}
.mid-sec1-body,.mid-sec2-body,.mid-sec3-body{
    height: 70%;
    width: 100%;
}
.div1-product-fruit{
    margin-left: 10px;
}
.div1-product-fruit ,.div2-product-fruit,.div3-product-fruit ,.div4-product-fruit{
    margin-right: 20px;
}
.div1-product-fruit ,.div2-product-fruit,.div3-product-fruit ,.div4-product-fruit ,.div5-product-fruit{
    margin-top: 20px;
    border-radius: 10px;
    height: 280px;
    width: 235px;
    float: left;
}
.div6-product-fruit{
    margin-left: 10px;
}
.div6-product-fruit ,.div7-product-fruit,.div8-product-fruit ,.div9-product-fruit{
    margin-right: 20px;
}
.div6-product-fruit ,.div7-product-fruit,.div8-product-fruit ,.div9-product-fruit,.div10-product-fruit{
    margin-top: 30px;
    height: 280px;
    border-radius: 10px;
    width: 235px;
    float: left;
}
.div1-product-fruit:hover,.div2-product-fruit:hover,.div3-product-fruit:hover,.div4-product-fruit:hover,
.div5-product-fruit:hover,.div6-product-fruit:hover ,.div7-product-fruit:hover,.div8-product-fruit:hover,
.div9-product-fruit:hover,.div10-product-fruit:hover{
    transform: translateY(-2px);
    box-shadow: 0 1px 10px 2px #999999;
    transition: 0.1s;
}
.img1-product img ,.img2-product img ,.img3-product img ,.img4-product img ,.img5-product img ,.img6-product img ,
.img7-product img,.img8-product img,.img9-product img ,.img10-product img{
    margin-left: 10%;
    width: 80%;
    height: 90%
}
.img1-product,.img2-product,.img3-product,.img4-product,.img5-product,.img6-product ,.img7-product ,.img8-product,.img9-product,.img10-product{
    width: 100%;
    height: 75%;
    /*border: 2px solid red;*/
}
.p1,.p2,.p3,.p4,.p5,.p6,.p7,.p8,.p9,.p10{
    /*margin-left: 10%;*/
    width: 100%;
    height: 25%;
    text-align: center;
    /*float: bottom;*/
    font: 400 21px/22px "Roboto Slab";
}
/*more*/
.div-more{
    /*margin-top: 100px;*/
    float: bottom;
    height: 880px;
    width: 100%;
    border-bottom: 1px solid #cccccc;
    text-align: center;
}
.sub-divmore{
    /*margin-top: 1000px;*/
    /*top: 100px;*/
    width: 140px;
    height: 880px;
    margin-left: 571px;
}
.sub-divmore div{
    top: 1750px;
    position: absolute;
    color: #3b3a3a;
    width: 140px;
    height: 50px;
    background-color: white;
    border: 1px solid #7be369;
    padding-top: 13px;
    font: 400 24px/26px "Roboto Slab";
    border-radius: 4px;    /*bottom: -10px;*/
}
.sub-divmore div:hover{
    background-color: #59fa2c;
    color: white;
}
.div-welcome{
    text-align: center;
    line-height: 30px;
    left: 223px;
    top: 725px;
    position: absolute;
    width: 900px;
    height: 200px;
    color: black;
    box-shadow: 5px 5px 5px #655959;
    border-radius: 5px;
    border: 1px solid #999999;
}
.sub-welcome{
    position: relative;
    width: 900px;
    height: 200px;
}
.sub-welcome a{
    position: relative;
    top: 30px;
    width: 200px;
    height: 20px;
}
.sub-welcome a:hover{
    color: #5bbb46;
}
.sub-welcome p{
    position: relative;
    top: 20px;
    width: 900px;
    height: 90px;
    font-family: monospace;
}
.sub-welcome h1{
    top: 10px;
    position: relative;
    width: 200px;
    left: 350px;
    height: 40px;
    font: 400 36px/40px "Roboto Slab";
}
.banner-bottom{
    color: #efebeb;
    margin-top: 10px;
    width: 100%;
    height: 400px;
}
.sub-banner{
    text-align: center;
    width: 85%;
    height: 400px;
    margin-left: 7.5%;
    background: url("http://landing.engotheme.com/html/freshfood/demo/assets/images/banner-home3.jpg");
}
.cow1{
    /*top: 100px;*/
    font-size: 40px;
    width: 100%;
    height: 45px;
}
.cow1 i {
    margin-top: 95px;
    width: 100%;
    height: 100%;
}
.cow2{
    margin-top: 100px;
    width: 100%;
    height: 75px;
}
.row1{
    margin-left: 290px;
    font-size: 21px;
    padding-top: 8px;
    width: 50%;
    height: 40px;
}
.row2{
    margin-left: 540px;
    width: 6%;
    height: 50px;
    border-top: 2px solid #999999;
}
.cow3{
    height: 54px;
    width: 100%;
}
.cow3 h1{
    padding-top: 4px;
    font-size: 70px;
}
.cow4 {
    font-size: 24px;
}

.more-img{
    position: absolute;
    top: 1990px;
    left: 30px;
    width: 280px;
    height: 300px;
}
.more-img img{
    position: relative;
    width: 320px;
    height: 340px;
}

/*-------------phần correlativebody--------------------*/
.correlativebody{
    /*background-color: #999999;*/
    margin-left: 0.1%;
    margin-top: 100px;
    width: 1347px;
    height: 360px;
}
.div-top{
    margin-left: 10%;
    width: 80%;
    height: 18%;
}
.div-top h1 {
    padding-top: 20px;
    margin-left: 25%;
    text-align: center;
    font: 400 36px/40px "Roboto Slab";
    width: 50%;
    height: 80%;
}
.image-silder{
    width: 1078px;
    margin-left: 10%;
    height: 300px;
}
.images-item{
    text-align: center;
    margin-top: 5px;
    height: 270px;
    border-radius: 9px;
}
.images-item:hover{
    transform: translateY(-2px);
    box-shadow: 0 1px 8px 1px #999999;
    transition: 0.1s;
}
.image{
    /*background-color: #999999;*/
    /*padding-top: 5px;*/
    align-items: center;
    height: 80%;
    width: 100%;
}
.image img{
    margin-left: 5%;
    width: 90%;
    object-fit: cover;
}
.images-item p{
    font: 400 22px/26px "Roboto Slab";
}
.images-item p{
    height: 2%;
    width: 100%;
    /*margin-left: 5%;*/
    font: 400 21px/22px "Roboto Slab";
    margin-bottom: 20px;
}
.money{
    color: #00c200;
}
.slick-initialized .slick-slide{
    margin-left: 15px;
    margin-right: 15px;
}
.slick-arrow{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}
.slick-arrow:hover{
    background-color: #8aa1f1;
}
.slick-prev{
    left: 0;
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 1;
    z-index: 5;
}
.slick-next{;
    right: 0;
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 1;
    z-index: 5;
}
.slick-dots {
    display: none;
}
/* end slick */

/*------------------sec-logoslider--------------------*/
.top-sec-logoslider{
    padding-top: 20px;
    height: 50px;
    width: 100%;
    margin-top: 30px;
    background-color: #faf4f4;
}
.top-sec-logoslider h1{
    text-align: center;
    font: 400 36px/40px "Roboto Slab";
}
.sec-logoslider{
    width: 100%;
    height: 280px;
}
.logo-slider{
    width: 100%;
    height: 280px;
    background-color: #faf4f4;
}
.logo-item1,.logo-item2,.logo-item3{
    float: left;
    width: 250px;
}
.logo-item1{
    margin-left: 20px;
    margin-top: 37px;
    height: auto;
    width: 200px;
}
.logo-item2{
    margin-left: 120px;
    margin-top: 46px;
    height: auto;
    width: 200px;
}
.logo-item3{
    margin-left: 120px;
    margin-top: 96px;
    height: auto;
    width: 300px;
}
.logo-item4{
    margin-right: 20px;
    float: right;
    margin-top: 82px;
    height: auto;
    width: 250px;
}
.logo{
    height: 100%;
    width: 100%;
}
.logo img{
    width: 100%;
}
/* end slick */

/*---------------------------------footer-----------------------------*/
footer {
    background-color: #a6a5a5;
    /*margin-top: 50px;*/
    width: 100%;
    height: 340px;
}
.map-img{
    background-color: #d7666b;
    height: 130px;
    width: 200px;
}
#google{
    width: 100%;
    height: 100%;
}
#facebook{
    margin-left: 40px;
    margin-top: 10px;
}
.row-QA h1{
    text-align: center;
    border-bottom: 2px solid #999999;
    width: 285px;
}
#log-kt{
    text-align: center;
    height: 400px; /*800px*/
    width: 775px;  /*1200px*/
    position: relative;
    float: left;
}
.row-QA li{

    margin-left: 60px;
}
/* Reset */
ul {
    list-style: none;
}
body {
    color: #000;
    font-family: Helvetica,sans-serif;
    font-size: 15px;
    line-height: 1.8;
}
.clearfix {
    zoom: 1;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

/* Layout */
#footer {
    background-color: #1f1f1f;
    color: #999;
    padding: 20px 0 28px;
    align-content: center;
}
#footer .inner {
    margin: 0 auto;
    /*width: 1140px;*/
    transform: translateX(100px);
    display:flex;
}
#footer .inner h3 {
    color: #fff;
    margin-top: 3px;
    margin-bottom: 25px;
}
#footer .inner .about-us  {
    float: left;
    width: 360px;
}
#footer .inner .about-us1  {
    float: right;
    /*//width: 360px;*/
    margin-left: -120px;
}
#footer .inner .cp0  {
    float: right;
    width: 360px;
}
#footer .inner .about-us .logo {
    margin-bottom: 42px;
}
#footer .inner > div {
    float: left;
    margin-right: 30px;
}
#footer .inner > div:last-child {
    margin-right: 0;
}
#footer .inner .info-link,
#footer .inner .contact-detail {
    width: 260px;
}
#footer .inner .social {
    width: 165px;
}
#footer .inner ul.link-list li {
    border-bottom: 1px dashed #363636;
    font-size: 15px;
    margin-bottom: 11px;
    padding-bottom: 9px;
}
#footer .inner ul.link-list li:last-child {
    border-bottom: none;
    margin-bottom: 0;
}
#footer .inner ul.link-list li a {
    color: #999;
    text-decoration: none;
    transition: 0.3s color;
}
#footer .inner ul.link-list li a:hover {
    color: #fff;
}
#footer .inner ul.link-list li i {
    border-right: 1px dashed #363636;
    padding-right: 16px;
    margin-right: 14px;
    font-size: 14px;
}
#footer .inner ul.link-list li address {
    font-style: normal;
}
#footer.cp0 {
    float: right;
}
#footer._1EOzNN {
    font-size: .75rem;
    font-weight: 700;
    color: rgba(0,0,0,.54);
    margin-bottom: 1.25rem;
    margin-top: 2.5rem;
}
#footer._3Rf4Dh {
    text-transform: uppercase;
}
#footer._2cEKAG {
    width: 11.875rem;
}
#footer.S2L_LN {
    list-style-type: none;
    padding: 0;
    margin: 0 0 1.0625rem;
}
#footer.S2L_LN {
    display: flex;
}
#footer.lHnHFY {
    width: 3.4375rem;
    height: 1.8125rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    overflow: hidden;
}
#footer.footer-vn-visa-png {
    background-size: 1347.2727272727273% 983.3333333333334%;
    background-position: 84.6938775510204% 6.289308176100629%;
}
#footer.footer-vn-background {
    background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/4bdefde….png);
}
#footer.style {
    width: 55px;
    height: 18px;
}

#navFooter.navLeftFooter div.navFooterLine {
    font-size: 12px;
}
#navFooter.navLeftFooter .navFooterCopyright {
    background-color: #131A22;
    max-width: 100%;
    margin: 0;
    padding: 10px 0 30px;
}
#navFooter.navLeftFooter .navFooterLinkLine {
    margin: 10px auto;
}
#navFooter.navLeftFooter .navFooterLogoLine, #navFooter.navLeftFooter .navFooterPadItemLine {
    text-align: center;
    max-width: 1000px;
    margin: 30px auto 15px;
}
div.navFooterLine {
    font-family: inherit;
    color: #DDD;
    font-size: 11px;
    text-align: center;
    line-height: 18px;
    white-space: nowrap;
}
.navFooterLinkLine {
    margin: 0 8px 0 8px;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
div {
    display: block;
}
.a-ember body {
    font-family: "Amazon Ember",Arial,sans-serif;
}
body {
    color: #0F1111;
}
body {
    font-size: 14px;
    line-height: 20px;
    font-family: Arial,sans-serif;
}